{% extends 'base.html' %}

{% block script %}
<p>This algorithm predicts the best design possible for a Yes gate for a given input and output sequence.</p>
<ul>
    <li>Either one of the input and output is required for the prediction to work.</li>
    <li>If input alone is given, then the prediction does not consider any constraints to the predicted structure.
    </li>
    <li>If output sequence is given, then the prediction considers the constraints to predict the structure.</li>
</ul>
<h4>Step 1 : Fill in Input parameters and submit</h4>
<!-- inSequence -->
<table style="width: 100%;" border="0" cellpadding="2">
    <tbody style="background-color: rgb(16, 63, 0); border-radius: 4px; color:#f9f9f9;">
        <tr>
            <td style="text-align: left;"><label for="inpSequence"></label>
                <div style="text-decoration: none;">a. Input sequence</div>
            </td>
            <td style="width: 10%; text-align: center; color:#f9f9f9;"><button onclick="clearInp()">clear</button></td>
        </tr>
    </tbody>
</table>
<div style="width:100%;">
    <textarea name="inpSequence" id="inpSequence" rows="5" style="width:100%"></textarea>
</div>
<!-- outSequence -->
<table style="width: 100%;" border="0" cellpadding="2">
    <tbody style="background-color: rgb(16, 63, 0); border-radius: 4px; color:#f9f9f9;">
        <tr>
            <td style="text-align: left;"><label for="outSequence"></label>
                <div style="text-decoration: none;">b. Output Seqeunce</div>
            </td>
            <td style="width: 10%; text-align: center; color:#f9f9f9;"><button onclick="clearOut()">clear</button></td>
        </tr>
    </tbody>
</table>
<div style="width:100%;">
    <textarea name="outSequence" id="outSequence" rows="5" style="width:100%"></textarea>
</div>
<button style=" border-radius: 4px; color:#f9f9f9;" type="submit" onclick="submit()">Submit Job</button>
<button type="reset" onclick="reset()">Reset</button>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function submit(ev) {
        console.log("here");
    }

    function addShow(data) {
        $('#result').text(data.result);
    }

    function clearInp() {
        document.getElementById('inpSequence').value = '';
    }

    function clearOut() {
        document.getElementById('outSequence').value = '';
    }

    function reset() {
        clearInp();
        clearOut();
    }

</script>
{% endblock %}