{% extends 'base.html' %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fornac.css')}}" media="screen" />
<div class="form-header">
    <h2>Step 3 : Validated Outputs</h2>
</div>
<div class="form-content">
    <!-- input/output -->
    <div class="form-group">
        <label for="inpSequence">a. Input sequence</label>
        <textarea readonly type="text" id="inpSequence" name="inpSequence" rows="3">{{  inputSeq  }}</textarea>
    </div>
    <div class="form-group">
        <label for="outSequence">b. Output sequence</label>
        <textarea readonly type="text" id="outSequence" name="outSequence" rows="3">{{  outputSeq  }}</textarea>
    </div>
    <!-- predSequence -->
    <div class="form-group">
        <label for="predSequence">c. Predicted Output Sequence</label>
        <textarea readonly type="text" id="predSequence" name="predSequence" rows="3">{{  sequence  }}</textarea>
    </div>
    <div class="form-button-group" style="justify-content: flex-end">
        <div class="form-copy"><button type="submit" onclick="copyToClipboardPS()">Copy</button></div>
    </div>
    <!-- constraint -->
    <div class="form-group">
        <label for="constraint">d. Constraints</label>
        <textarea readonly type="text" id="constraint" name="constraint" rows="3">{{  sequence  }}</textarea>
    </div>
    <div class="form-button-group" style="justify-content: flex-end">
        <div class="form-copy"><button type="submit" onclick="copyToClipboardCS()">Copy</button></div>
    </div>
    <!-- ensemble diversity -->
    <div class="form-group">
        <label for="active">e. Output Parameters</label>
        <div class="form-forna" id="outputParameters" style="background: #FFFFFF;">
            <table style="width: 100%; border-radius: 4px;" border="0" cellpadding="3">
                <tbody>
                    <tr>
                        <th style="text-align: left; background-color: rgba(66, 183, 245, 0.8); color:#f9f9f9;">
                            Parameter</th>
                        <th style="text-align: left; background-color: rgba(39, 158, 223, 0.9); color:#f9f9f9;">With
                            Contraints
                        </th>
                        <th style="text-align: left; background-color: rgb(1, 118, 182); color:#f9f9f9;">Without
                            Contraints</th>
                    </tr>
                    <tr>
                        <td>Ensemble Diversity</td>
                        <td> {{activeED}} </td>
                        <td>{{inactiveED}}</td>
                    </tr>
                    <tr>
                        <td>MFE</td>
                        <td>{{ activeMFE }}</td>
                        <td>{{ inactiveMFE }}</td>
                    </tr>
                    <tr>
                        <td>Structure</td>
                        <td>{{active}}</td>
                        <td>{{inactive}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label for="active">f. Structure With Contraints</label>
        <div class="form-forna" id="active"></div>
    </div>
    <div class="form-group">
        <label for="inactive">g. Structure Without Contraints</label>
        <div class="form-forna" id="inactive"></div>
    </div>
    <div class="form-button-group">
        <div class="form-group">
            <button type="submit"><a style=" border-radius: 4px; color:#f9f9f9;"
                    href="{{ url_for('home') }}">Restart</a></button>
        </div>
    </div>
</div>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/d3.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/fornac.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function addShow(data) {
        $('#result').text(data.result);
    }

    function copyToClipboardPS() {
        var copyTextarea = document.getElementById('predSequence');
        copyTextarea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
        }
    }

    function copyToClipboardCS() {
        var copyTextarea = document.getElementById('constraint');
        copyTextarea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
        }
    }

    var activeContainer = new FornaContainer("#active", { 'applyForce': false });
    var activeOptions = {
        'structure': '{{active}}',
        'sequence': '{{sequence}}'
    };

    activeContainer.addRNA(activeOptions.structure, activeOptions);

    var inactiveContainer = new FornaContainer("#inactive", { 'applyForce': false });
    var inactiveOptions = {
        'structure': '{{inactive}}',
        'sequence': '{{sequence}}'
    };

    inactiveContainer.addRNA(inactiveOptions.structure, inactiveOptions);
</script>
{% endblock %}

<!-- registration
output - final dot brakcet structure, constraint, 
ensemble diversity  (with and without constraint), 
MFE (with and without constraint),
pictures (with and without) -->